.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  width: 90%;

  .Header {
    padding: 0 20px;
    button {
      cursor: pointer;
      padding: 5px;
      width: 8rem;
    }
  }

  .Body {
    display: flex;
    height: 80vh;
    padding: 20px;

    .ConversationListContainer {
      text-align: center;
      width: 30%;
    }

    .ConversationViewContainer {
      margin-left: 20px;
      text-align: center;
      width: 70%;
    }

  }

}
