$primary-dark: #000624;
$primary: #19224D;
$primary-light: #7B83A7;

$secondary-dark: #6d1d33;
$secondary: #A32952;
$secondary-light: #D1A9BD;

$primary-text: #F4F5FA;

$xs-breakpoint: 0px;
$sm-breakpoint: 600px;
$md-breakpoint: 960px;
$lg-breakpoint: 1280px;
$xl-breakpoint: 1920px;

//noinspection ALL
:export {
  primaryMain: $primary;
  secondaryMain: $secondary;
  secondaryLight: $secondary-light;
  secondaryDark: $secondary-dark;
  primaryText: $primary-text
}